SECRET_KEY=v7syuo!-ebwlow1-cp@npof+gyk=vn1-abc35xoclb6w!m*)7(
DEBUG=False
DB_NAME=BhansaGhar
DB_USER=postgres
DB_PASSWORD=sakkar.com
DB_HOST=bhansaghar-postgres  # ← FIXED: Use container name
DB_PORT=5432
REDIS_HOST=bhansaghar-redis  # ← FIXED: Use container name
REDIS_PORT=6379
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=http://163.223.98.39:8000
GOOGLE_CLIENT_ID=1031806670878-48mvof963vqmn4p14mu2a702j60f8au8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=n9solutionteam@gmail.com
EMAIL_HOST_PASSWORD=yukv grye gamj wevz
DEFAULT_FROM_EMAIL=noreply@bhansaghar.com
CLOUDINARY_CLOUD_NAME=dqauemqav

CLOUDINARY_API_KEY=829256754322897
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET=o2C_gXTeZ0zzLL3qaswIjdybHa4

SMS_API_KEY=ENTER-YOUR-APIs
